body {
    color: #000;
    background-color: #f5f5f5;
    font-family: 'RobotoRegular', sans-serif;
}

a { color: #000; }

img { border: none; }

figure { margin: 0; }

header {
    margin: 0 0 0 -20px;
    padding: 13px 20px 8px 20px;
    background-color: #fff;
    position: relative;
}

#select-lang {
    position: absolute;
    top: -5px;
    right: 0;
}

header nav {
    padding-top: 18px;
}

section ul, nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section li, nav li {
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    padding-right: 34px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'RobotoLight', sans-serif;
}

section li {
    border-right: 1px solid #fff;
}

#logo {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: 'RobotoBold', sans-serif;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

#logo > strong {
    font-size: 24px;
    font-weight: normal;
    font-family: 'RobotoLight', sans-serif;
    letter-spacing: 1.1px;
}

section h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'RobotoBold', sans-serif;
    font-weight: normal;
    line-height: 21px;
}

.projects p, .projects article li {
    margin: 0;
    color: #414141;
    font-size: 13px;
    font-family: 'RobotoLight', sans-serif;
    line-height: 1.5em;
}

.projects a:hover * {
    color: #000;
    text-decoration: none;
}

aside.images {
}

aside.images > img {
    margin-bottom: 1px;
}


h1 {
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'RobotoBold', sans-serif;
}

dl.meta {
    font-size: 13px;
}

.meta > dt {
    float: left;
    font-weight: normal;
    color: #666;
}

.meta > dd {
    margin-left: 33%;
}

.info, .body, .lead {
    font-size: 13px;
    line-height: 18px;
}

section article {
    max-width: 400px;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
}

section h2 {
    border: 1px solid #fff;
    border-width: 1px 0 0;
    margin: 0;
    padding: 5px;
}

section .info p {
    padding: 5px;
    margin: 0;
}

article.span3, article.span8, aside.span3, section.featured { padding-top: 13px; }

.wrap-filters {
    height: 1%;
    overflow: hidden;
    padding-top: 13px;
}

.filter {
    float: left;
    margin: 0;
    padding: 0 0 8px;
    list-style-type: none;
    font-size: 12px;
}

.filter > li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
}

.filter a, .filter strong {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    text-transform: uppercase;
}

.filter a {
    background-color: #999;
}

.filter strong {
    background-color: #000;
}

.kontakt aside > p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.kontakt aside strong {
    font-weight: normal;
    font-family: 'RobotoBold', sans-serif;
}

header > nav {
    position: relative;
}

nav > .social {
}

.social > li {
    margin: 0 0 0 8px;
    padding: 0;
}

.featured {
    position: relative;
}

.date {
    position: absolute;
    top: 0px;
    right: 13px;
    display: block;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    opacity: 0.8;
}

.date > span {
    display: block;
    border-top: 1px solid #fff;
}

.references {
    list-style-type: none;
    margin-left: 0;
}

.references > li.publikace {
    display: inline-block;
    margin: 0;
    padding: 0 5px 5px 0;
}

.references > li.reference {
    margin-top: 5px;
}

.references > li.reference img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.pubs {
    margin: 0 0 21px;
}

.pubs > article {
    float: left;
    max-width: 100%;
}

.refs > article {
    max-width: 100%;
    border: none;
    margin: 0 0 13px;
}

.newscoop {
    color: #999;
    font-size: 80%;
}
