@font-face {
    font-family: 'NudistaMedium';
    font-style: normal;
    font-weight: normal;
    src: local('Nudista Medium'), local('NudistaMedium'), url('./medium.woff') format('woff');
}

@font-face {
    font-family: 'NudistaLight';
    font-style: normal;
    font-weight: normal;
    src: local('Nudista Light'), local('NudistaLight'), url('./light.woff') format('woff');
}

body {
    color: #000;
    background-color: #4e4f4f;
    font-family: 'NudistaMedium', sans-serif;
    padding: 0 !important;
}

a { color: #000; }

img { border: none; }

figure { margin: 0; }

.container-fluid { padding: 51px 0 0 !important; }

header {
    margin: 0;
    padding: 0 13px;
    color: #fff;
    background-color: #000;
    position: relative;
    border-top: 1px solid #868686;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    z-index: 5000;
    opacity: 0.8;
}

footer {
    color: #fff;
    background-color: #4e4f4f;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    margin-top: -1px;
    font-size: 12px;
    display: block;
}

footer a, footer a:hover {
    color: #ffd600;
}

footer .logo { float: left; padding-left: 13px; }

footer .pull-right a i, footer .pull-right a:hover i { color: #fff; text-decoration: none; }

footer .pull-right a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 13px;
}

footer .social {
    text-align: center;
    margin: 0 25%;
    padding: 0;
    list-style-type: none;
    height: 50px;
    overflow: hidden;
}

footer .social li {
    display: inline-block;
}

#select-lang {
    float: right;
    padding-right: 13px;
    font-size: 90%;
}

#select-lang a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 13px;
    color: #fff;
}

header nav {
    padding: 0;
}

section ul, nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#burger {
    display: none;
}

nav ul {
    float: left;
    border-left: 1px solid #313136;
}

section li, nav li {
    margin: 0;
    padding: 0;
    float: left;
}

nav li {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'NudistaMedium', sans-serif;
    border-right: 1px solid #313136;
}

nav li a, nav li strong {
    padding: 0 13px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #000;
    font-weight: normal;
}

nav li a:hover, nav li strong, #select-lang a:hover {
    color: #fff;
    background-color: #403f44;
    text-decoration: none;
}

section li {
    border-right: 1px solid #fff;
}

.logo {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    font-family: 'NudistaMedium', sans-serif;
    line-height: 18px;
    color: #fff;
    background-color: transparent;
    padding: 8px 13px 0 0;
    float: left;
}

.logo strong {
    display: inline-block;
    font-weight: bold;
    color: #fff !important;
    letter-spacing: 5px;
    text-indent: 3px;
}

.logo:hover {
    color: #fff;
    background-color: inherit;
    text-decoration: none;
}

.logo:hover strong {
    color: #fff;
}

section h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'NudistaLight', sans-serif;
    font-weight: normal;
    line-height: 21px;
}

.projects p, .projects article li {
    margin: 0;
    color: #414141;
    font-size: 13px;
    font-family: 'NudistaMedium', sans-serif;
    line-height: 1.5em;
}

.projects a:hover * {
    color: #000;
    text-decoration: none;
}

aside.images {
}

aside.images > img {
    margin-bottom: 1px;
}


h1 {
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'NudistaLight', sans-serif;
}

h2 {
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'NudistaLight', sans-serif;
}

dl.meta {
    font-size: 13px;
}

.meta > dt {
    float: left;
    font-weight: normal;
    color: #666;
    padding-right: 5px;
}

.meta > dd {
    margin-left: 13%;
}

.info, .body, .projects .lead p {
    font-size: 15px;
    font-family: 'NudistaMedium', sans-serif;
    line-height: 21px;
}

section article {
    max-width: 400px;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
}

section h2 {
    border: 1px solid #fff;
    border-width: 1px 0 0;
    margin: 0;
    padding: 5px;
}

section .info p {
    padding: 5px;
    margin: 0;
}

article.span3, article.span8, aside.span3 { padding-top: 13px; }
article.span3, aside.span3 {
    padding-left: 13px;
    background-color: #fff;
}

.wrap-filters {
    height: 1%;
    overflow: hidden;
    padding-top: 13px;
    display: none;
}

.filter {
    float: left;
    margin: 0;
    padding: 0 0 8px;
    list-style-type: none;
    font-size: 12px;
}

.filter > li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
}

.filter a, .filter strong {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    text-transform: uppercase;
}

.filter a {
    background-color: #999;
}

.filter strong {
    background-color: #000;
}

.kontakt aside > p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.kontakt aside strong {
    font-weight: normal;
    font-family: 'NudistaMedium', sans-serif;
}

header > nav {
    position: relative;
}

nav > .social {
    float: right;
}

.social .icon * {
    stroke: #fff;
}

.social .icon .in {
    fill: #fff;
}

.social > li {
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
}

.social a {
    display: inline-block;
    padding: 10px;
}

.social a svg { width: 30px; height: 30px; }

.featured {
    position: relative;
}

section.featured {
    box-sizing: border-box;
    padding: 0;
    border-left: 1px solid #fff;
    text-align: left;
    line-height: 1px;
}

article.featured {
    display: inline-block;
    width: 33.33%;
    min-width: 200px;
    max-width: 600px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    background-color: #333;
    box-sizing: border-box;
    overflow: hidden;
}

.featured a {
    display: block;
    position: relative;
}

.featured h2 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-top: none;
    font-size: 21px;
    line-height: 34px;
    font-family: 'NudistaLight', sans-serif;
}

.featured figures {
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
}

.featured a:hover .lightbox { opacity: 0.55; }
.featured a:hover h2 { color: #fff; }

.date {
    position: absolute;
    top: 0px;
    right: 13px;
    display: block;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    opacity: 0.8;
}

.date > span {
    display: block;
    border-top: 1px solid #fff;
}

.references {
    list-style-type: none;
    margin: 0 0 21px;
}

.references > li.publikace {
    display: inline-block;
    margin: 0;
    padding: 0 5px 5px 0;
}

.references > li.reference {
    margin-top: 5px;
}

.references > li.reference img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.pubs {
    margin: 0 0 21px;
}

.pubs > article {
    float: left;
    max-width: 100%;
}

.refs > article {
    max-width: 100%;
    border: none;
    margin: 0 0 13px;
}

.projects .info ul {
    list-style-type: square;
    margin: 0 8px;
    padding: 0 13px;
}

.projects .info li {
    float: none;
    margin: 0 0 8px;
    padding: 0;
    border-right: none;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon * {
    stroke: #333;
    stroke-width: 0.3;
    text-transform: none;
}

.icon circle {
    stroke-width: 1 !important;
}

.icon .in { fill: #333; }

.icon:hover circle, .icon:hover * { stroke: #ffd600; }
.icon:hover .in, .icon:hover .in * { fill: #ffd600; }

.projects .share { margin: 13px 0; list-style-type: none; }
.projects .share li { display: inline-block; margin: 0 8px 0 0; }

.projects figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.projects aside.images figure {
    border: 1px solid #fff;
    border-width: 0 1px 1px;
}

.projects figure .icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.projects figure .icon * { stroke: #fff; }
.projects figure .icon path { fill: #fff; }

.projects figure .icon:hover * { stroke: #ffbc00; }
.projects figure .icon:hover path { fill: #ffbc00; }

section.info {
    text-align: center;
    background-color: #fff;
    position: relative;
    min-height: 200px;
}

.info .lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
}

.info .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 34px;
    box-sizing: border-box;
}

.info h2 {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 21px;
    border-top: none;
    display: inline-block;
    vertical-align: middle;
}

.body h2 {
    margin: 21px 0 13px;
}

.blog .body { background-color: #fff; }

.body p {
    max-width: 60em;
    min-width: 320px;
    margin: 0 auto 0.8em;
    font-size: 15px;
}

/* refs */
section.span5.offset3 {
}

article.reference {
    background-color: transparent;
}

.panel {
    position: relative;
    border-bottom: 1px solid #fff;
    background-color: #333;
    min-height: 240px;
    color: #fff;
}

.panel .content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.panel figure {
}

.panel figure.top {
}

.panel h1, .panel h2 {
    font-size: 50px;
    font-weight: normal;
    font-family: 'NudistaLight', sans-serif;
    color: inherit;
    /*text-shadow: 1px 1px 3px #efefef;*/
}

.panel .abs {
    max-width: 60em;
    margin: 0 auto;
}

.panel .share { margin: 21px 0; }
.panel .icon, .panel .icon svg { width: 50px; height: 50px; }
.panel .icon * { stroke: #fff; }
.panel .icon .in { fill: #fff; }
.panel .icon .in * { stroke: #fff; }

article.project {
    background-color: #fff;
}

article.project > .content {
    max-width: 60em;
    margin: 0 auto;
    padding: 34px;
}

article.project .images {
    text-align: center;
    margin: 0;
    height: 1%;
    overflow: hidden;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
}

article.project .images figure {
    width: 50%;
    float: left;
    min-height: 50px;
}

article.project .images img {
    display: block;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    article.featured {
        width: 50%;
    }

    nav li a {
        padding: 0 8px;
    }
}

@media (max-width: 800px) {
    .panel .content {
        top: 25%;
    }
}

@media (max-width: 600px) {
    #burger {
        width: 38px;
        display: block;
        border: none;
        margin: 0 auto;
        color: #fff;
        background: transparent;
        font-size: 28px;
        line-height: 50px;
        margin-left: 21px;
    }
    #burger:before { content:'\2630'; }

    header nav ul {
        display: none;
    }

    header nav ul.show {
        display: block;
    }

    article.featured {
        width: 100%;
    }

    nav li a {
        height: 21px;
        line-height: 21px;
    }

    footer .social {
        margin: 0 5px;
        clear: both;
    }

    .panel {
        min-height: 120px;
    }

    .panel h1, .panel h2 {
        font-size: 21px;
    }

    .panel .icon, .panel .icon svg {
        width: 30px;
        height: 30px;
    }

    .panel .content {
        position: static;
        padding: 8px 5px 13px;
    }

    .panel .abs {
        width: 80%;
    }

    .projects .panel p {
        color: #fff;
    }

    .blog .body {
        padding: 8px;
    }

    nav ul {
        clear: both;
        float: none;
    }

    nav li {
        float: none;
    }

    nav li a {
        display: block;
        padding: 8px;
    }

    .info .content {
        position: static;
        padding: 13px;
        width: 100%;
        box-sizing: border-box;
    }

    .body p {
        min-width: 50%;
    }

    .info h2 {
        font-size: 21px;
        line-height: 25px;
    }
}
